@font-face {
  font-family: 'Theinhardt';
  src: url('assets/fonts/theinhardt-regular.otf') format('otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Theinhardt';
  src: url('assets/fonts/theinhardt-medium.otf') format('otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Theinhardt';
  src: url('assets/fonts/theinhardt-bold.otf') format('otf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Theinhardt';
  src: url('assets/fonts/theinhardt-heavy.otf') format('otf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Theinhardt';
  src: url('assets/fonts/theinhardt-italic.otf') format('otf');
  font-weight: 400; /* tu peux ajuster selon la graisse réelle */
  font-style: italic;
}

body{
    font-family: 'Theinhardt', sans-serif;
    font-weight: 400;
    color: #222222;
    margin: 0;
    background-color: white;
}


input, button {
  font: inherit;
}

/* --- LAYOUT --- */

.filters-list_wrapper{
  display: grid;
  grid-template-columns: 0.5fr 1fr;
}

/* --- COMPONENTS --- */
.card {
  padding: 16px 24px;
  border: 1px solid #8E8E8E;
  border-radius: 12px;
}

.card-title {
  font-weight: bold;
  text-transform: uppercase;
}

.hidden {
  display: none;
}

.block {
  display: block;
}

/* --- SEARCHBAR --- */
#searchbar_wrapper {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}

#searchInput {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

#exhibitors-list{
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: column;
  gap: 16px;
}

.pagination-buttons_wrapper > button.active{
  background-color: black;
  color: white;
}

